/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}












/* GENERAL */

main{
    height: calc(100vh - 80px);
    background-color: black;
}

footer{
    height: 80px;
    background-color: #222222;
}





/* MAIN */
 


.container-img{
    
}

.user-img{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;    
}

.user-img div{
    background-image: url(https://picsum.photos/200/300?grayscale);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: calc(100% / 8);
    margin: 5px;
} 







/* FOOTER */

.container-footer{
    max-width: 100%;
    margin: 0 auto;
}

.row-footer{
    display: flex;
    justify-content: space-between;
}

.column{
    width: clac(100% / 3);
}

/* i{
    font-size: 40px;
} */

footer button{
    vertical-align: middle;
    height: 100%;
    border: none;
    color: white;
    padding: 5px;
    background-color: transparent;
}




/* DEBUG */

/* .debug main{
    background-color: aqua; 
} */

/* .debug footer{
    background-color: blueviolet;
} */

/* .debug .column{
    background-color: brown;
} */